:root {
--font-size: 10pt;
--line-height: 12.5pt;
}

@page {
    size: 203mm 276mm;
}

@page:left {
    margin: 3.5cm 3cm 3.5cm 2cm;
    @top-right {
      content: "Aesthetic Programming";
      font-family: "HerscheyTimes";
      font-size: 7pt;
    }
    @bottom-right {
      content: counter(page);
      margin-top: 6px;
      font-size: 10pt;
    }
}

@page:right {
    margin: 3.5cm 2cm 3.5cm 3cm;
    @top-left {
      content: string(title);
      font-size: 10pt;
      font-size: 9pt;
    }
    @bottom-left {
      content: counter(page);
      font-size: 10pt;
    }
}

@page:first {
    @top-right {
      content: "";
    }
    @bottom-right {
      content: "";
    }
}
@page:blank {
    @top-left {
      content: "";
    }
    @bottom-left {
      content: "";
    }
    @top-right {
      content: "";
    }
    @bottom-right {
      content: "";
    }
}


@page:nth(3) {
    @top-right {
      content: "";
    }
    @bottom-right {
      content: "";
    }
}




.pagedjs_page {
    outline: 1px solid black;
}

.pagedjs_page {
counter-increment: page;
}

h1 {
    break-before: right;
   string-set: title content(text); 
}

h1 + p img {
    break-after: right;
}

.toc:before {
    content: "Contents";
}
.toc {
    break-before: left;
    break-after: right;
}

hr {
    break-after: page;
}

div.footnote {
    font-size: 7pt;
    line-height: 8pt;
}

h2#notes{
    break-before: page;
}

div.footnote ol {
    margin: 0;
    padding: 0;
    column-count: 3;
    break-before: avoid;
}

img {
    max-height: 19cm;
}

.CodeMirror {
    height: initial;
    font-size: 80%;
    line-height: 140%;
}

pre .CodeMirror-line {
    outline: initial;
    outline-offset: initial;
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
    font-family: ocr-pbi;
}

h2, h3 {
    padding-top: calc(1*var(--line-height));
    padding-bottom: 0;
}

#book-index {
    break-before: page;
    columns: 3;
    font-size: 9pt;
    line-height: 11pt;
    column-fill: auto;
}

#book-index ul {
  border-left: 0px;
  padding-left: 0;
}

#book-index ul li {
  margin: 0;
  list-style-type: none;
  text-indent: 0;
  display: flex;
  justify-content: space-between;
}

#book-index ul li:before {
  display: none;
}

.list-alphabet-element:not(:first-child) {
  margin-top: 11pt;
}

.link-page a {
  text-decoration: none;
}

.link-page a::after{ content: target-counter(attr(href), page); }

.link-page::after{ content: ", "; }

.link-page:last-of-type::after{ content: none; }

/*.index-value::after{ content: " – "; }*/
pre {
    margin-left: -1.75em;
    letter-spacing: -0.5px;
}
pre code {
}

@media screen {
    .pagedjs_pages {
        width: calc(var(--pagedjs-width) * 2.1);
    }
}


a.footnote-backref {
    display: none;
}

/* SYNTAX HIGHLIGHTING FOR PRINT */
:root {
    --light-gray: #000 !important;
    --dark-gray: #000 !important;
    --almost-black: #000 !important;
    --dark-brown: black !important;
    --light-brown: #000 !important;
    --pinkish: #000 !important;
    --dark-blueish: #000 !important;
}
