@font-face {
  font-family: HerscheyTimes;
  src: url("/theme/fonts/hersheytimes.otf");
}
@font-face {
  font-family: ocr-pbi;
  src: url("/theme/fonts/Ocr-Pbi-pen_x1_y1.ttf");
}
@font-face {
  font-family: "HersheyNoailles";
  src: url("/theme/fonts/Hershey-Noailles-help-me.ttf");
}
@font-face {
  font-family: "HersheyNoailles";
  src: url("/theme/fonts/AVHersheyDuplexMedium.otf");
  font-weight: bold;
}
@font-face {
  font-family: "HersheyNoailles";
  src: url("/theme/fonts/Hershey-Noailles-cursive.ttf");
  font-style: italic;
}



body {
font-family: "HersheyNoailles";
font-size: var(--font-size);
line-height:  var(--line-height);
}

h1, h2, h3, h4, h5, h6 {
font-family: HerscheyTimes;
line-height: 1.5em;
}

h1 {
font-size: calc(var(--font-size) * 1.75);
line-height: 1.5em;
margin-top: 0;
padding-bottom: 1em;
}

h2 {
font-size: calc(var(--font-size) * 1.5);
line-height: 1.5em;
padding-top: 1.5em;
padding-bottom: 1.5em;
}

h3 {
padding-bottom: 1.5em;
}



pre,
code {
font-family: ocr-pbi;
white-space: pre-wrap;
/*outline: 1px dotted black;*/
/*outline-offset: 2px;*/
}

pre {
/* padding: var(--line-height); */
/* font-size: 0.8em; */
margin: calc(-0.5*var(--line-height)) 0;
}

pre code {
outline: 0;
}

code {
margin-left: 2px;
margin-right: 2px;
padding: 0 4px;
font-size: 0.8em;
}

.linenodiv pre {
padding: 0;
padding-right: 0.5em;
outline: 0;
}

hr {
    border: 0;
    height: 0;
}

hr + hr {
    height: var(--line-height);
    border-bottom: 1px solid black;
}



a {
color: inherit;
text-decoration:  none;
border-bottom: 0.05em solid black;
}

a:hover {
    border-bottom: 0;
}
a[href^=http] {
   word-break: break-word;
}

em {
    font-style: italic;
    font-size: 1.22em;
}

strong {
    font-weight: bold;
    font-size: 1.2em;
}

dl,
p {
    padding: var(--line-height) 0;
}

dl + p,
p + p {
    padding-top: 0;
}


ul, ol {
    padding: 0;
    border-left: 1px solid black;
    padding-left: calc(var(--line-height) /2);
    box-sizing: border-box;
    margin-top: var(--line-height);
    /*margin-bottom: var(--line-height);*/
}
ul ul,
ul ol,
ol ul,
ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

ol {
padding-left: calc(1.5 * var(--line-height));
}

ul li:before {
content: "– ";
}

section ul li {
    text-indent: -18px;
    margin-left: 18px;
}

ol > li {
list-style-type: decimal;
}

li {
    clear: both;
}

li p {
    padding: 0;
}

.long-list ul {
    column-count: 2;
    font-size: 0.7em;
    line-height: 1.25em;
    border-left: 0;
    padding: 0;
    margin: 0;
}
.long-list ul li {
    padding-bottom: 0.65em;
}


dt:after {
   content: " → ";
   font-size: 1.25em;
   vertical-align: 1px;
   line-height: 0;
}
dt {
    display: inline-block;
    font-weight: bold;
}

dd {
    display: inline;
}

dd:after {
    content: "";
    display: block;
    height: calc(0.5 * var(--line-height))
}

figure {
    text-align: center;
    margin: auto;
    margin-top: var(--line-height);
    margin-bottom: var(--line-height);
}

img {
    max-width: 100%;
    max-height: 60vh;
    outline: 1px dashed black;
}
h1 + p img,
img[alt="flowchart"],
img.no-border {
    outline: 0;
}

figure.small {
    width: 33%;
}


figure.medium {
    width: 66%;
}

.columns {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: baseline;
}

.columns p {
    padding: 0;
}

figure.columns img,
div.columns figure {
    width: 48%;
    display: inline-block;
}

.columns figcaption {
    flex-grow: 1;
}


figure.float {
    float: left;
    width: 40%;
    margin-right: var(--line-height);
    margin-bottom: 0;
}
figure.float-right {
    float: right;
    width: 40%;
    margin-left: var(--line-height);
    margin-top: 0;
}

figure.figure-inline img {
    display: inline;
}

figcaption p {
    padding: 0;
    font-size: 0.75em;
}

sup {
font-size: 0.75em;
line-height: 0;
vertical-align: 0.5em;
}

.ref {
font-style: italic;
}


blockquote {
    padding: calc(var(--line-height) /2);
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-bottom: var(--line-height);
}

blockquote p {
border-left: 1px solid black;
border-right: 1px solid black;
padding: 0 1em;
}

table {
    display: block;
    padding: var(--line-height) 0;
}

thead {
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    height: 0.5em;
    border-bottom:1px solid black;
}

tbody tr:first-child td {
    padding-top: 0.5em;
}

td {
    width: 64%;
}

.section {
    border-left: 4em solid #F8F8F8;
    padding-left: 1.5em;
    padding-bottom: var(--line-height);
}

.section .subsection  {
    border-left: 4em solid #F8F8F8;
    padding-left: 1.5em;
    margin-left: -1.5em;
    padding-bottom: var(--line-height);
}
.section.exercise .section,
.section.exercise .subsection {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
    
}

h4 ~ p,
h4 ~ ol,
h4 ~ ul,
h4 ~ blockquote,
h4 ~ table,
h4 ~ div,
h3 ~ h4 {
    border-left: 4em solid #F8F8F8;
    padding-left: 1.5em;
    margin-left: calc(-1.5em - 1px);
}

h2 + ul {
    border: 0;
    padding-left: 0;
}


div.exercise {
    outline: 4px double black;
    padding: 1.5em;
    padding-bottom: 0;
    margin-bottom: 3em;
    margin-top: 1.5em;
    border: 0;
}

div.exercise h2 {
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}

div.footnote {
    font-size: 0.7em;
    line-height: 1.2em;
}

div.footnote hr {
display: none;
}

div.footnote ol {
column-count: 2;
column-gap: 3em;
border: 0;
padding-left: 1em;
}

div.footnote p {
    padding-bottom: 0.65em;
}

div.footnote a {
word-break: break-word;
}

a.footnote-ref {
    border: 1px dotted black;
    border-radius: 9px;
    text-decoration: none;
    padding: 8px 3px 1px;
    line-height: 0;
    margin-left: 3px;
    font-size: 11px;
    vertical-align: -4px;
    display: inline-block;
    height: 1.25em;
    min-width: 1.25em;
}

a.footnote-backref {
    color: darkgray;
    text-decoration: none;
    border-bottom: 0;
    font-weight: italic;
}

a.footnote-backref:hover {
    color: black;
}

.indexed_word {
    border: 1px dotted black;
    padding: 0.2em 0.5em 0;
    border-radius: 2em;
}

.code--line {
    margin-left: 2em !important;
    height: var(--line-height) !important;
}

#list-index-generated:before {
    content: "Index";
    font-family: "HerscheyTimes";
    font-size: 2em;
    break-before: page;
    display: block;
    line-height: 2em;
    margin-bottom: var(--line-height);
}

#list-index-generated {
    border: 0;
    padding-left: 0;
    display: grid;
}

.list-alphabet-element:before {
    content: "";
}
.list-alphabet-element {
    font-family: "HersheyNoailles";
    font-style: italic;
    font-size: 2em;
}

.list-index-element + .list-alphabet-element {
    margin-top: var(--line-height);
}
.links-pages {
    float: right;
}

#showcase figure{
    width: 33%;
    padding: 0.5em;
    float: left;
}

#showcase h3 {
    clear: both;
}

/* SYNTAX HIGHLIGHTING */
:root {
    --light-gray: #A0A0A0 !important;
    --dark-gray: #222 !important;
    --almost-black: #000 !important;
    --dark-brown: black !important;
    --light-brown: #000 !important;
    --pinkish: #e15f5f !important;
    --dark-blueish: #161D82 !important;
}

.cm-s-p5-widget span.cm-keyword {
    font-weight: bold;
}
.cm-s-p5-widget span.cm-comment {
    font-style: italic;
}
.cm-s-p5-widget span.cm-string,
.cm-s-p5-widget span.cm-number {
    border-bottom: 1px dotted black;
}
