:root {
    --font-size: 1.1vw;
    --line-height: 1.3em;
}

body  {
    display: flex;
    background-color: #F8F8F8;
    /* flex-wrap: wrap; */
    /* margin-left: 6%; */
}

section.nav {
    position: sticky;
    height: 100vh;
    top: 0;
    width: 130px;
    z-index: 10000;
}

section.right {
    flex: 1 0;
    background-color: white;
}

nav {
    height: 180px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: end;*/
    padding-top: 10em;
    transition: background-color 1s;
}

nav header {
    transform: rotate(-90deg);
}

nav h1 {
    font-size: 1.1em;
    line-height: 1.5em;
    padding : 0;
}

nav ul {
    font-size: 18px;
    line-height: 1.3em;
    top: 0;
    left: 120px;
    position: absolute;
    background: #F8F8F8;
    padding: 0;
    width: 0;
    height: 100%;
    transition: width .25s;
    overflow: hidden;
    border: 0;
    padding: 1.5em 0;
}

nav ul li.active {
    font-weight: bold;
}

nav ul li:before {
    content: "";
}

nav:hover {
    background-color: #F8F8F8;
    height: 100vh;
}

nav:hover ul {
    width: 350px;
    border-left: 1px solid black;
    overflow: hidden;
}

nav ul li {
    width: 280px;
    margin: 0 1.5em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul li {
    margin-left: calc(1.5em + 15px);
    text-indent: -15px;
}

nav ul a.active {
    font-size: 1.5em;
    line-height: 1.25em;
}

.toc {
    position: sticky;
    top: 32vh;
    margin-left: -8em;
    font-size: 0.7em;
    line-height: 1.25em;
    width: 210px;
    float: left;
}
.toc ul {
    padding-top: 0;
    padding-bottom: 0;
}

.toc  ul {
    border: 0;
    padding-left: 0;
    border: 0;
}

.toc > ul li:before {
    content: "├ ";
}

.toc ul ul li:before {
    content: "├─ ";
}
.toc ul ul ul li:before {
    content: "├── ";
}

#canvas iframe {
    height: 100%;
    width: 100%;
}

#canvas {
    position: sticky;
    top: 0;
    margin-top: 110vh;
    height: 100vh;
}

main {
    flex: 1 0;
    z-index: 10;
    box-sizing: border-box;
    padding-top: 2em;
    padding-right: 1.5em;
    padding-bottom: 10em;
    border-left: 1em solid #F8F8F8;
    background-color: white;
}

body[data-sketch-fullscreen] main {
    overflow-x: hidden;
    flex: 0 0 0px;
}

h1 {
    margin-left: 1em;
}


main h1 + p img {
    margin-left: 25vw;
    max-height: 80vh;
}

h2 {
    counter-increment: h2;
}
h2:before {
    content: counter(h1) + "." + counter(h2);
}

#canvas iframe {
    height: 100vh;
}

main .active {
    background-color: lightyellow;
}


p, blockquote, li {
    letter-spacing: .25px;
}

@media screen and (max-width: 2000px) {
    :root {
        --font-size: 19px !important;
        --line-height: 1.45em !important;
    }
    nav {
        padding-top: 9em;
    }
    nav h1 {
        font-size: 22px;
    }
    .toc {
        top: 39vh;
    }
}
